
@{
    ViewBag.Title = "SavingMiniStatement";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<html>
<head>
    <link href="~/Bootstrap/css/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>ViewBag.Title</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <form method="post">
                <table class="tabbable" border="0" align="center" style="margin-top:50px">
                    @if (IsPost)
                    {
                        if (ViewBag.res == null)
                        {
                            <tr class="active">
                                <td align="center" colspan="2" style="color:red;align-content:center;font-size:medium;font-weight:bolder;">@ViewBag.resmsg</td>
                            </tr>
                            <tr class="active"><td>&nbsp;</td><td>&nbsp;</td></tr>
                        }
                    }

                    <tr class="active">
                        <td colspan="2" align="center" style="color:cornflowerblue;font-size:medium;font-weight:bolder;align-content:center;">@ViewBag.Title</td>
                    </tr>
                    <tr class="active"><td>&nbsp;</td><td>&nbsp;</td></tr>
                    <tr class="active">
                        <th style="font-weight:bolder;color:darkred;font-weight:bolder">AccountID/CustomerID&nbsp;&nbsp;&nbsp;</th>
                        <td><input type="text" required pattern="^(SB|MLA)\d{5}" title="should start with SB or MLA followed by five digits" name="pId" /></td>
                    </tr>
                    <tr class="active"><td colspan="2">&nbsp;</td></tr>
                    <tr class="active">
                        <td colspan="2" align="center"><input type="submit" value="Fetch EMI" style="background-color:cornflowerblue" /></td>
                    </tr>
                </table>
            </form>

            @if (IsPost)
            {
                if (ViewBag.res != null)
                {
                    <table class="tabbable" border="1" align="center" style="margin-top:20px">
                        <tr class="active">
                            <td align="center" colspan="2" style="color:green;align-content:center;font-size:medium;font-weight:bolder;">Expected Loan Detail</td>
                        </tr>
                        <tr class="active">
                            <th style="font-weight:bolder;color:black">TransactionId</th>
                            <th style="font-weight:bolder;color:black">Transaction Date</th>
                            <th style="font-weight:bolder;color:black">Transaction Type</th>
                            <th style="font-weight:bolder;color:black">Amount</th>
                        </tr>
                        @foreach (var item in ViewBag.res)
                        {
                            <tr>
                                <td style="font-weight:bolder;color:darkred">@item.Savings_Trans_ID</td>
                                <td style="font-weight:bolder;color:darkred">@item.Transaction_Date</td>
                                <td style="font-weight:bolder;color:darkred">@item.Transaction_Type</td>
                                <td style="font-weight:bolder;color:darkred">@item.Amount</td>
                            </tr>
                        }
                    </table>
                }
            }

        </div>
    </div>

</body>
</html>